:root{
    --main-dark-color: #2E5046;
    --main-light-color: #ECECEC;
    --main-dark-color-opacity-10: #2E504610;
    --main-dark-color-opacity-40: #2E504640;
    --main-dark-color-opacity-80: #2E504680;
    --main-dark-color-opacity-90: #2E504690;
}
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    font-style: normal;
    height: 100%;
    background-color: var(--main-light-color);
    color: var(--main-dark-color);
}

a{
    font-style: normal;
    text-decoration: none;
    color: var(--main-dark-color);
}

a:hover{
    font-style: normal;
    text-decoration: none;
    color: var(--main-light-color);

}
.flex__container{
    display: flex;
    justify-content: space-between;
}
.top__container {
    max-width: 1140px;
    margin: 0 auto;
}

.text {
    font-family: PT Serif, sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    color: var(--main-dark-color-opacity-90);
    letter-spacing: 0.05em;
    font-weight: 300;
}
.text_center{
    text-align: center;
    text-wrap: normal;
}

.header__text {
    width: auto;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.5em;
    color: var(--main-dark-color);
    line-height: 60px;
    text-align: center;
}


.head__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}

.footer__container {
    display: flex;
    flex-direction: column;
    background-color: var(--main-dark-color-opacity-40);
    padding: 10px 0 10px 0;
}

.head__block {
    min-height: 250px;
    background: url(img/top_header_img.png) no-repeat center;
    background-size: cover;
}

.main__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: rgba(46, 80, 70, 0.4);*/
    background-color: var(--main-dark-color-opacity-40);
    padding: 5px 30px;
    line-height: 3;
}

.menu__item__button{
    appearance: none;
    box-sizing: border-box;
    min-width: 100px;
    margin-right: 10px;
    padding: 4px 16px;
    border: none;
    border-radius: 10px;
    background-color: var(--main-dark-color-opacity-40);
    color: var(--main-light-color);
}

.about__block {
    text-align: center;
    padding-top: 20px;
    flex-grow: 1;
}

.page__input{
    appearance: none;
    border-radius: 10px;
    background: var(--main-light-color);
    border: 1px solid var(--main-dark-color);
    width: 300px;
    padding: 3px;
}

.page__input:focus{
    /*border: 1px solid green;*/
    box-shadow: none;
    outline: none;
    background-color: var(--main-dark-color-opacity-40);
}

.page__button{
    appearance: none;
    border: none;
    border-radius: 10px;
    min-width: 100px;
    padding: 3px 16px;
    background-color: var(--main-dark-color-opacity-40);
}

.page__button:hover{
    background-color: var(--main-dark-color-opacity-80);
    /*background: rgba(46, 80, 70, 80%);*/
    color: var(--main-light-color);
}

.overlay__element{
    position: absolute;
    top: 5px;
    right: 5px;
}

.mb-5{
    margin-bottom: 5px;
}

.button__grid{
    display: grid;
    grid-gap: 2px;
    grid-row: 25;
}