<div class="auth__container">
    <form class="auth__form" ng-submit="tryToAuth()">
        <label for="username" class="auth__label">Логин</label>
        <input class="text auth__input" id="username" type="text" ng-model="user.name" placeholder="username" autocomplete="on">
        <label class="auth__label" for="password">Пароль</label>
        <input class="text auth__input" id="password" type="password" ng-model="user.password" placeholder="password"
               autocomplete="false">
        <div class="auth__bottom__container">
            <button class="page__button" type="submit">Войти</button>
            <button class="page__button" type="reset" ng-click="cancel()">Отмена</button>
        </div>
    </form>
</div>