<div>
    <div class="top__container plantrepresentation__container">
        <form class="form__search">
            <div class="flex__container">
                <div>
                    <input class="page__input text" type="text" name="search" id="search-input"
                           ng-model="plantNameFilter">
                    <button class="page__button text" ng-click="getPlants()">Найти</button>
                </div>
                <div>
                    <button class="page__button text" ng-show="isAdmin()" ng-click="addNewPlant()">Новое</button>
                </div>
            </div>
        </form>

        <div class="top__container plantcards__container">
            <div class="plant__card" ng-repeat="plant in plantsPage">
                <div class="plant__card__body__container">
                    <img class="plant__photo" ng-src="{{getPlantImagePath(plant.filePath)}}" alt="{{plant.name}}" src=""
                    ng-click="showPlantDetails(plant.id)">

                    <h4 class="plant__name__header">{{plant.name}}(id:{{plant.id}})</h4>
                    <p class="text text_center">
                        {{plant.shortDescription}}
                    </p>
                </div>
                <div class="plant__card__bottom_container">
                    <a class="page__button mb-5 text text_center" href="" ng-click="showPlantDetails(plant.id)">Подробнее</a>
                    <a class="page__button mb-5 text text_center" href="#" ng-click="deletePlant(plant.id)"
                       ng-show="isAdmin()">Удалить</a>
                </div>
            </div>
        </div>

        <div class="pagination__container">
            <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxPages"
                class="" boundary-links="true" num-pages="numPages" ng-change="getPlants()"></ul>
        </div>
    </div>
</div>