
.plantrepresentation__container {
    padding: 20px;
}

.plantcards__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px 0 40px 0;
    /*padding-bottom: 40px;*/
}

.plant__card {
    /*max-width: 200px;*/
    border-radius: 10px;
    padding: 5px;
    margin: 0 10px 10px 0;
    align-content: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--main-dark-color-opacity-10);
}
.plant__card__body__container{
    text-align: center;
    max-width: 200px;
    text-wrap: normal;
}
.plant__card__bottom_container{
    align-content: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.plant__name__header {
    width: auto;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: var(--main-dark-color);
    text-align: center;
}

.plant__photo {
    width: 200px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 10px;
    align-self: center;
}

.relative__container {
    position: relative;
}

.admin__container {
    width: 100%;
    margin-top: 3px;
    display: grid;
}

.pagination > li > a,
.pagination > li > span {
    color: var(--main-dark-color-opacity-80);
    background-color: var(--main-dark-color-opacity-40);
}
.pagination > li > a:hover {
    background-color: var(--main-dark-color-opacity-80);
    color: var(--main-light-color);
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    z-index: 3;
    color: var(--main-light-color);
    cursor: default;
    background-color: var(--main-dark-color);
    border-color: var(--main-dark-color);
    outline: none;
}

.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
    color: var(--main-dark-color-opacity-40);
    cursor: not-allowed;
    background-color: var(--main-dark-color-opacity-10);
    border-color: var(--main-light-color);
}

.pagination__container {
    display: flex;
    justify-content: center;
}