<div>
    <div class="top__container plantrepresentation__container">

        <form class="form__search">
            <input class="page__input text" type="text" name="search" id="search-input" ng-model="plant_name">
            <button class="page__button text" ng-click="findAllPlantsByNameLike()">Найти</button>
        </form>

        <div class="top__container plantcards__container">
            <div class="plant__card" ng-repeat="plant in plantsList">
                <img class="plant__photo" ng-src="{{plant.photo}}" alt="{{plant.name}}" src="">
                <h4 class="plant__name__header">{{plant.name}}</h4>
                <p class="text text_center">
                    Описание
                </p>
                <a class="page__button text text_center" href="#" class="">Подробнее</a>
            </div>
        </div>
    </div>
<!--    пагинация   -->
</div>